body {
  background-color: rgb(150,150,205); /* 배경색상 설정 */
  color: rgb(255,255,255);  /* 텍스트 기본 설정 색*/
  font-family: Sans-serif;
  margin: 0; /* 바깥쪽 네거티브 양 */
  padding: 0; /* 안쪽 네거티브 양 */
}


#header h1 {
  margin: 0;
  padding: 0;
  background-color: rgb(100,100,155);
  border-bottom: 1px solid #666;
  color: rgb(255,255,255);
  display: block;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}

#home {
    position: absolute; /* 해당 요소 위치를 좌표계로 설정하겟다!!*/
    top: 8px;
    left: 6px;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: black;
    line-height: 28px;  /* 글자가 밑으로 내려 */
    border-width: 0 8px 0 8px;
    background-Color: rgb(255,255,255); /* 상단 부분부터 시계 방향으로 모서리 두꼐 설정 */
    /* -webkit-border-image: url(images/buttons.png) 0 8 0 8; 모서리 이미지 설정?*/
}

#home div.pressed {
  background-color: rgb(100,100,100);
}

#utility ul {
  list-style: none;
  margin: 10px;
  padding: 0;
}

#utility ul.hide {
    display: none;
}

#utility ul a {
  background-color: rgb(255,255,255);
  border: 1px solid rgb(0,0,0);
  color: rgb(0,0,0);
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: -1px;
  padding: 8px 6px;
  text-decoration: none;
}

#utility ulli:first-child ul a {    /* 조건/지정을 하여 css 설정을 먹히게 할 수 있는 슈도 클래스 중 하나 여기에서 first-child는 첫번쨰 리스트, last-child는 마지막 리스트에 각각 적용되도록 한 것이다. */
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

#utility ulli:last-child ul a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}



#content {
  padding: 10px;
  /* display: none; */
}
