body {
  background-color: rgb(150,150,205); /* 배경색상 설정 */
  color: #222;  /* 텍스트 기본 설정 색*/
  font-family: Sans-serif;
  margin: 0; /* 바깥쪽 네거티브 양 */
  padding: 0; /* 안쪽 네거티브 양 */
}

#utility {

}


#header h1 {
  background-color: rgb(100,100,155);
  border-bottom: 1px solid #666;
  color: rgb(255,255,255);
  display: block;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}
