
.title { /* html class에 설정하는 경우 # */
  font-size : 23px;
  font-weight: bold;
  font-family: Arial;
  font-style : italic;
}

#content {   /* html id에 설정하는 경우 # */
  font-size : 15px;
  font-style : italic;
}



/* html a, p, h1, h2, h3, body 에도 직접 설정할 수 있다. # */

li {
  font-size : 13px;
}
